<!-- <text>pages/test/test.wxml</text>
<view>{{message}}</view>
<view wx:for="{{array}}">{{item}}</view>
<button bindtap='arryData'>点击修改array的数据</button> -->
<!-- <view wx:for="{{[zero,1,2,3,4]}}">{{item}}</view> -->
<!-- <view wx:for="{{[1,2,3,4,5,6,7,8,9]}}" wx:for-item="i">
  <view wx:for="{{[1,2,3,4,5,6,7,8,9]}}" wx:for-item="j">
    <view wx:if="{{i<=j}}">
      {{i}}*{{j}} = {{i*j}}
    </view>
  </view>





</view> -->


<!-- <switch wx:for="{{objectArray}}" wx:key="unique" style="display: block;"> {{item.id}} </switch>
<button bindtap="switch"> Switch </button>
<button bindtap="addToFront"> Add to the front </button>

<switch wx:for="{{numberArray}}" wx:key="*this" style="display: block;"> {{item}} </switch>
<button bindtap="addNumberToFront"> Add to the front </button> -->
<!-- <view wx:for="{{[1,2,3]}}">
  {{item}}
</view> -->

<!-- <view wx:if="{{length > 5}}"> 1 </view>
<view wx:elif="{{length > 2}}"> 2 </view>
<view wx:else> 3 </view>
<block hidden="false">
<view>view 1</view>
</block>
<block
hidden="true">
<view>view 2</view>
</block>

2.1 定义模板
<!-- 模板的定义域是使用模板的时候传入的数据 -->
<!-- <template name="msgItem">
<block style="display:block">
<view>
{{message}}
</view>
<view>
 Time: {{time}}
</view>
</block>
</template>
<!-- 使用模板 -->
<!-- <template is="msgItem" data="{{...item}}">
</template> -->


<!--2.2事件的使用方式 -->
<!-- <view id='tapTest' data-hidden='wechat' bindtap='tapname'>点击事件</view> -->


<!--2.3 冒泡事件的拦截 catch事件会拦截事件不让其往父控件上面冒泡递归，bind事件不会拦截-->
<!-- bindtap 等同于 bingd:tap   catchtap等同于 catch:tap -->
<view id='outer' bind:tap="handleTap1">
outer view 
<view id='middle' catch:tap='handleTap2'>
middle view 
<view id='inner' bind:tap='handleTap3'>
inner view
</view>
</view>
</view>
